/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    display: block;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre {
    text-align: left;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}
